<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, '+ ${name} + '!'"/>
    <table>
    	<th:block th:each= "persom: ${personas}">
    		<tr>
    			<td th:text= "${persom.id}">...</td>
    			<td th:text= "${persom.title}">...</td>
    			<td th:text= "${persom.director}">...</td>
    			<td th:text= "${persom.genre}">...</td>
    			<td th:text= "${persom.duration}">...</td>

    		</tr>
    	</th:block>
    </table>
</body>
</html>